.rightPanel{
    background-color:  rgb(54, 53, 53);
    color: white;
    width: 250px;
    height: 90vh;
    position: absolute;
    left: 81%;
    
    top:15%
}
.heading{
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    padding-left: 50px;
}
.input {
    display: flex;
    flex-direction: row;
  margin-left: 20px;
  
  padding: 20px;
  padding-top: 2px;
   
  }
  
  .input label {
    margin-right: 5px;
  }
  
  .input input {
    margin: 10px;
    width: 60px;
  }