
.canvas-container {
    position: relative;
    width: 500px;
    height: 500px; 
    background-color: white;
    top: 100%; 
    left: 40%;
  }
  .center-canvas{
    position: absolute;
    top: 50%;
    left: 40%;
  }
